<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Spa Sign Up Form</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <th:block th:replace="~{fragments :: fonts}"></th:block>
</head>

<body>
    <div>
        <form action="/user" method="POST">
        <label> Username:   <input type="text" name="username" th:value="${username} "required /> </label> <br>
        <label> Email:      <input type="text" name="email" th:value="${email}" required/></label><br>
        <label> Enter your password:    <input type="password" name="password" required/></label><br>
        <label> Verify your password:   <input type="password" name="verify" required/></label><br>

        <p class="error-password" th:if="${error}" th:text="${error}"></p> <br>
        <button type="submit"> Submit </button>
        </form>
    </div>
</body>

</html>